<template>
  <LineChart :chartdata="chartdata" :legend="legend" />
</template>

<script>
import LineChart from "./LineChart.js";

export default {
  components: {
    LineChart
  },
  props: {
    chartdata: {
      type: Object,
      default: () => {}
    },
    legend: {
      type: Boolean,
      default: true
    }
  }
};
</script>
