<template>
  <v-container>
    <v-breadcrumbs class="pl-0" :items="path" divider=">"></v-breadcrumbs>

      <v-row no-gutters class="d-flex align-center">
        <h1>Relatório de Ganhos</h1>
      </v-row>

      <v-row>
        <v-col cols="12" xl="12" lg="12" md="12" sm="12" xs="12" class="mb-6">
          <div v-for="(item) in items" :key="item.title" class="content">
            <div class="mt-5 headline font-weight-bold">{{ item.title }}</div>
            <!-- chart -->
            <div>
              <component
                :is="chartSelect.chartType"
                class="graphcs"
                :chartdata="item.chartData"
                :legend="false"
              ></component>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row no-gutters class="d-flex align-center">
        <v-spacer/>
        <p class="title income">Total de Receitas: R$ {{ incomes }}</p>
      </v-row>
  </v-container>
</template>


<script>
import AppBarChart from "@/components/charts/BarChart.vue";

  export default {
    components: {
      AppBarChart
    },
    data () {
      return {
        chartSelect: {
          selected: "bar", //default chart
          chartType: "AppBarChart" //changes the default component
        },
        items: [
          {
            title: "Receitas",
            chartData: {
              labels: ["Outubro", "Novembro", "Dezembro"],
              datasets: [
                {
                  label: "Receitas",
                  fill: false,
                  borderColor: "rgba(254,178,18,1)",
                  backgroundColor: "rgba(254,178,18,1)",
                  data: ["1200", "800", "2800"],
                }
              ]
            }
          }
        ],
        incomes: 800,
        path: [
          {
            text: 'Dashboard',
            disabled: false,
            to: '/',
          },
          {
            text: 'Financeiro',
            disabled: true,
            to: '/finances',
          },
        ],
      }
    }
  }
</script>


<style>
.title{
  font-size: 24px;
  font-weight: bold;
}
.income {
  color: white;
}
</style>
