<template>
  <v-form v-model="valid">
    <v-container>
      <v-breadcrumbs class="pl-0" :items="path" divider=">"></v-breadcrumbs>
      <v-row no-gutters class="d-flex align-center">
        <h1>Nova Demanda</h1>
        <v-spacer/>
        <div>
          <v-btn to='/customers/' depressed color="primary">VOLTAR</v-btn>
        </div>
      </v-row>
      <v-row>
        <v-col
          cols="6"
          md="3"
        >
          <v-text-field
            class="mt-0 pt-0"
            v-model="description"
            :rules="descriptionRules"
            label="Descrição"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="3"
        >
          <v-select
            class="pa-0 ma-0"
            :items="types"
            label="Tipo"
          ></v-select>
        </v-col>

        <v-col
          cols="6"
          md="3"
        >
          <v-select
            class="pa-0 ma-0"
            :items="clients"
            label="Cliente"
          ></v-select>
        </v-col>
      </v-row>

      <v-row no-gutters class="d-flex align-center">
        <div>
          <v-btn to='form' depressed color="primary">SALVAR</v-btn>
        </div>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
  export default {
    data: () => ({
      valid: false,
      types: ["Elétrico", "Hidrosanitário", "Reforma", "Consultoria"],
      clients: ["", "Chris", "Juca", "Root"],
      description: '',
      descriptionRules: [
        v => !!v || 'Descrição é obrigatória',
      ],
      cpf_cnpj: '',
      cpf_cnpjRules: [
      v => !!v || 'CPF / CNPJ é obrigatório',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail é obrigatório',
        v => /.+@.+/.test(v) || 'E-mail inválido',
      ],
      path: [
        {
          text: 'Dashboard',
          disabled: false,
          to: '/'
        },
        {
          text: 'Demandas',
          disabled: false,
          exact: true,
          to: '/demands/'
        },
        {
          text: 'Adicionar Demanda',
          disabled: true,
        },
      ]
    })
  }
</script>
