<template>
  <v-form v-model="valid">
    <v-container>
      <v-breadcrumbs class="pl-0" :items="path" divider=">"></v-breadcrumbs>
      <v-row no-gutters class="d-flex align-center">
        <h1>Novo Empregado</h1>
        <v-spacer/>
        <div>
          <v-btn to='/customers/' depressed color="primary">VOLTAR</v-btn>
        </div>
      </v-row>
      <v-row>
        <v-col
          cols="6"
          md="3"
        >
          <v-text-field
            v-model="name"
            :rules="nameRules"
            label="Nome"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="3"
        >
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="6"
          md="3"
        >
          <v-text-field
            v-model="phone"
            :rules="phoneRules"
            label="Telefone"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="6"
          md="3"
        >
          <v-text-field
            v-model="position"
            :rules="positionRules"
            label="Função"
            required
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row no-gutters class="d-flex align-center">
        <div>
          <v-btn to='form' depressed color="primary">SALVAR</v-btn>
        </div>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
  export default {
    data: () => ({
      valid: false,
      name: '',
      nameRules: [
        v => !!v || 'Nome é obrigatório',
      ],
      phone: '',
      phoneRules: [
        v => !!v || 'Telefone é obrigatório',
      ],
      position: '',
      positionRules: [
      v => !!v || 'Função é obrigatório',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail é obrigatório',
        v => /.+@.+/.test(v) || 'E-mail inválido',
      ],
      path: [
        {
          text: 'Dashboard',
          disabled: false,
          to: '/'
        },
        {
          text: 'Empregados',
          disabled: false,
          exact: true,
          to: '/employees/'
        },
        {
          text: 'Adicionar Empregado',
          disabled: true,
        },
      ]
    })
  }
</script>
