<template>
  <v-container>
    <v-breadcrumbs class="pl-0" :items="path" divider=">"></v-breadcrumbs>

    <v-row no-gutters class="d-flex align-center">
      <h1>Clientes</h1>
      <v-spacer/>
      <div>
        <v-btn to='form' depressed color="primary">Adicionar</v-btn>
      </div>
    </v-row>

    <v-row no-gutters class="mt-8">
      <v-spacer/>
      <p>Total de clientes: {{ num_customers }}</p>
    </v-row>

    <v-row no-gutters >
      <v-col cols="12" xl="12" lg="12">
        <v-list>
          <v-list-item
            v-for="customer in customers"
            :key="customer.name"
          >
            <v-list-item-content>
              <v-list-item-title v-text="customer.name"></v-list-item-title>
              <v-list-item-title v-text="customer.email"></v-list-item-title>
              <v-divider class="mt-5"/>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
  export default {
    data () {
      return {
        num_customers: 5,
        customers: [
          { name: 'Jason Oner', email: 'https://cdn.vuetifyjs.com/images/lists/1.jpg' },
          { name: 'Travis Howard', email: 'https://cdn.vuetifyjs.com/images/lists/2.jpg' },
          { name: 'Ali Connors', email: 'https://cdn.vuetifyjs.com/images/lists/3.jpg' },
          { name: 'Cindy Baker', email: 'https://cdn.vuetifyjs.com/images/lists/4.jpg' },
        ],
        path: [
          {
            text: 'Dashboard',
            disabled: false,
            to: '/',
          },
          {
            text: 'Clientes',
            disabled: true,
            to: '/customers',
          },
        ],
      }
    }
  }
</script>
