<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>

    <v-footer
      :fixed="fixed"
      app
    >
      <span>{{title}} &copy; 2019</span>
      <v-spacer/>
      <span>Desenvolvido por: Christopher Pottes</span>
      &nbsp;
      &nbsp;
      <a href="https://www.linkedin.com/in/christopher-pottes-70578315b/" target="_blank">
        <v-icon>
          mdi-linkedin
        </v-icon>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://gitlab.com/christopherpottesc/client-sd" target="_blank">
        <v-icon>
          mdi-git
        </v-icon>
      </a>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Dashboard',
          to: '/'
        },

        {
          icon: 'mdi-account-star',
          title: 'Clientes',
          to: '/customers/'
        },
        {
          icon: 'mdi-note-text',
          title: 'Demandas',
          to: '/demands/'
        },
        {
          icon: 'mdi-chart-bar',
          title: 'Financeiros',
          to: '/finances/'
        },
        {
          icon: 'mdi-account-multiple',
          title: 'Funcionários',
          to: '/employees/'
        },
        {
          icon: 'mdi-checkbox-multiple-blank',
          title: 'Ordens de serviços',
          to: '/services/'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Intervenção - Espaço de Arquitetura'
    }
  }
}
</script>
