<template>
  <v-container>

    <v-row no-gutters class="d-flex align-center">
      <h1>Dashboard Administrativa</h1>
    </v-row>

    <v-row class="mt-8" no-gutters >
        <v-col class="pr-2" cols="4" xl="4" lg="4">
          <v-card outlined >
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="headline mb-1">Empregados</v-list-item-title>
                <div class="overline mb-4">Quantidade de empregados:</div>
                <v-list-item-subtitle>{{ num_employees }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-card-actions>
              <v-btn to="/employees/">Saiba mais</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>

        <v-col class="pr-2" cols="4" xl="4" lg="4">
          <v-card  outlined >
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="headline mb-1">Clientes</v-list-item-title>
                <div class="overline mb-4">Quantidade de clientes:</div>
                <v-list-item-subtitle>{{ num_customers }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-card-actions>
              <v-btn to="/customers/">Saiba mais</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>

        <v-col cols="4" xl="4" lg="4">
          <v-card  outlined >
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="headline mb-1">Demandas</v-list-item-title>
                <div class="overline mb-4">Quantidade de demandas:</div>
                <v-list-item-subtitle>{{ num_demands }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-card-actions>
              <v-btn to="/demands/">Saiba mais</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>

        <v-col class="mt-8 pr-2" cols="4" xl="4" lg="4">
          <v-card  outlined >
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="headline mb-1">OS</v-list-item-title>
                <div class="overline mb-4">Quantidade de ordens de serviços:</div>
                <v-list-item-subtitle> {{ num_calls }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-card-actions>
              <v-btn to="/services/">Saiba mais</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>

        <v-spacer/>

        <v-col class="mt-8 pr-2" cols="4" xl="4" lg="4">
          <v-card  outlined >
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="headline mb-1">Financeiro</v-list-item-title>
                <div class="overline mb-4">Finanças:</div>
                <v-list-item-subtitle>
                  <span class="green--text">Receitas: {{ num_entrada }}</span>
                  <span class="red--text"> Despesas: {{ num_saida }}</span>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-card-actions>
              <v-btn to="/finances/">Saiba mais</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
    </v-row>
  </v-container>
</template>


<script>
  export default {
    data () {
      return {
        num_demands: 5,
        num_employees: 4,
        num_customers: 2,
        num_calls: 8,
        num_entrada: 800,
        num_saida: 300
      }
    }
  }
</script>
